{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
<h1>Register</h1>
<div id="loginform" class="">
  <form class="" action="{{url_for('register')}}" method="post">
    <div  class="form-group">
      <h2 id="logintitle"></h2>
    </div>

    <div class="form-group">
      <label id="nameLabel">Username:</label>
      <input type="text" class="form-control" name="username">
    </div>

    <div class="form-group">
      <label id="passLable">Password:</label>
      <input type="password" class="form-control" name="password">
    </div>

    <div> 
      {% if '{{msg}}' is not none: %}
        <small class="form-text" id="alertwrongPass">{{msg}}</small>
      {% endif %}
    </div>

    <div>
      <form class="" action="{{url_for('register')}}" method="post">
        <input type="submit" id="loginBottun" class="btn btn-primary btn-lg" value="Register">
      </form>
    </div>
</div>
{% endblock %}